body{
    background-color:lightgrey;
}

#description {
    color: blue;
}

#direction {
    color: maroon;
}

.details {
    background-color: lightblue;
    color: white;
}

section {
    color: blue;
}

h2, h3, p, b {
    color: blue;
}

#header {
    background-image: url("header5.png");
}

#footer {
    background-image: url("footer_new.jpg");
}