body{
    background-color:lightgrey;
    cursor: crosshair;
}

a {
    color: maroon;
}

a:hover {
    color: hotpink;
    font-size: 125%;
}

a:active {
    color: blue;
}

a:visited {
    color: green;
    font-weight: bold;
}

h3::first-letter {
    color: purple;
    font-size: 150%;
}

h3, h4 {
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
    border: solid darkblue 4px;
}

td {
    padding: 15px;
}

ul {
    list-style: square;
}

#intro {
    margin-bottom: 50px;
}

#gratitude {
    word-spacing: 3px;
    letter-spacing: 2px;
}

.details {
    background-color: lightblue;
    color: white;
}

#header {
    color: white;
    text-indent: 120px;
    background-image: url("header5.png");
    font-family: Arial;
    font-size: 25px;
}

#footer {
    color: white;
    background-image: url("footer_new.jpg");
    font-family: Arial;
    font-size: 15px;
}

#formheader {
    font-style: italic;
}

#title {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
}